.card {
    background: #9dc0bc;
    /* padding: 0.4rem; */
    transition: transform 0.2s;
    border-radius: 10px;
 

  }
  .card-body {
    padding: 0.5rem;
    font-size: 1.25rem;
    border: solid rgb(0, 0, 0) 2px;
  }
  .card:hover {
    transform: scale(1.03);
    background: #00897b;
  }
  

  .add-button{
    text-align: center;
    margin-top: 2rem;
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;

  }
  .add-product-button{
    padding: 12px 20px;
    font-size: 16px ;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 35px;
    margin: 2rem;

  }
  .add-product-button:hover {
    background-color: #45a049;
  }

  @media screen and (max-width: 600px) {
    
    .add-button {
      flex-direction: column;
      align-items: center;
    }
  
    .add-product-button {
      width: 80%;
      margin: 1rem 0;
    }
  }